/*CSS DOCUMENT*/

html,
body,
div,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}

/*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */


div.home-container {
	background: url(homepage.jpg) center center fixed;
	background-size: cover;
	position: relative;
	min-height: 100vh;
	margin: auto;
	max-width: 80em;
}

div.container {
	position: relative;
	min-height: 50vh;
	background-color: rgb(255, 255, 255);
	margin: auto;
	max-width: 60em;
}

/* >>> IMPORTANT: you have to change the wrap of the content of your home page (index) in a div with a class home-container to make it work. If you used a div with the class container on your home, you’ll only need to change the name of the class. And you need a div with the class container and all the other pages.  */


main {
	padding: 1em 0em 1em 2em;
	margin-right: 2em;
}

img {
	width: 100%;
	/*Please leave this line.*/
	display: block;
}

header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background: rgb(255, 255, 255);
	padding: 1em 0.5em 2.5em;
}

body {
	font-family: sans-serif;
	background-color: rgb(255, 102, 51);
}

h1 {
	font-size: 5em;
	text-decoration: none;
	font-family: "pique-web", sans-serif;
	font-weight: 400;
	font-style: normal;
	margin-left: 0.3em;
}

h2,
h3,
h4 {
	font-weight: bold;
	font-family: sans-serif;
	font-family: "trade-gothic-next", sans-serif;
	font-weight: 600;
	font-style: normal;
}

h2 {
	font-size: 5em;
	font-family: "pique-web", sans-serif;
	font-weight: 400;
	font-style: normal;
}

h3 {
	font-size: 1.7em;
	padding: 1.5em 0em 1em;
}

h3.contact {
	padding: 1.5em 0em 0em;
}

h4 {
	grid-row: 1/3;
	grid-column: 1/3;
}


a {
	text-decoration: none;
	color: rgb(255, 102, 51);
}

nav ul {
	text-align: right;
}

nav ul li a {
	color: rgb(255, 102, 51);
	font-family: "pique-web", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2em;
	padding: 0.5em;
}

nav ul li.selected a {
	color: rgb(232, 27, 0);
}

ul li {
	list-style-type: none;
}

figure {
	margin-bottom: 1em;
}

main.menu ul {
	margin: 1em 0em;
	grid-template-columns: 1/3;
	grid-template-rows: 1/3;
}

main.menu ul li {
	margin: 1em 0em 1em;
	padding: 1.5em 0em 1.5em;
	display: grid;
}

p {
	margin: 1em 0em 1em;
	font-family: "trade-gothic-next", sans-serif;
	font-weight: 400;
	font-style: normal;
}

p.description {
	grid-column: 1/3;
	grid-row: 2/3;
	margin: 0em;
	line-height: 1.2em;
	padding-top: 1.5em;
}

p.price {
	grid-row: 1/3;
	grid-column: 2/3;
	color: rgb(255, 3, 0);
	text-align: right;
	margin: 0em;
}

nav ul li {
	text-transform: uppercase;
	font-weight: 10em;
	padding: 1em;
}

p.slogan {
	font-size: 5em;
	font-family: "trade-gothic-next", sans-serif;
	font-weight: 700;
	font-style: italic;
	color: rgb(255, 255, 255);
}

article {
	max-width: 40em;
	text-align: center;
	margin-left: 4em;
	margin-right: 4em;
}

footer {
	position: bottom;
	bottom: 0;
	width: 100%;
	height: 3rem;
	box-sizing: border-box;
	padding: 1em 1em;
	background: rgb(255, 255, 255);
	text-align: center;
}

address {
	font-family: sans-serif;
	font-size: 1em;
	line-height: 1.3em;
}

address.index {
	margin-left: 0.5em;
	color: rgb(255, 255, 255);
}

address.space {
	color: rgb(255, 255, 255);
	padding-bottom: 5em;
	margin-left: 0.5em;
}

footer p {
	margin: 0em;
}

@media screen and (min-width: 60em) {

	nav ul li {
		display: inline;
		text-orientation: right;
		padding: 2em 0.2em 0em;
		margin-top: 2em;
		grid-template-columns: repeat(2, 1fr);
	}

	article {
		margin-left: 10em;
		margin-right: 10em;
	}

	section {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 1.5em;
	}
}
